/*

Description:        This is the main stylesheet for RoofTop. 

Version:            1.0

Author:             RoofTop

*/


/********************* THE RESET  *************************/

* {
    margin:0;
    padding:0;
}

body,html {
    line-height:1;
    width:100%;
    height:100%;
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust: 100%;
    background: #ffffff;
    -webkit-tap-highlight-color: #ecf1f4;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
    background:transparent;
}

article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
    background:transparent;
	display:block;
}

audio, canvas, video {
    display:inline-block;
    *display:inline;
    *zoom:1;
}

img, figure, embed, object, video {
	max-width: 100%
}

[hidden] {
    display: none;
}

a:active,a:hover {
    outline:0;
}

ol, ul {
    list-style: none;
}

input, select {
    vertical-align:middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/*********************************************************/

/********************* GLOBAL SETTINGS  *************************/

*{margin:0; padding:0; font-size:12px; line-height:1.5em;font-weight:400;}

body, html{margin: 0;padding: 0;height: 100%;width: 100%; color:#4a4a4a}

html{}

body {
    background: #ffffff;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 25px; }
h4 { font-size: 20px; }

a{outline:none;}

a.current{color:#8af6f4;}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

ul {list-style: none;}

img{border:none;}

.clear{clear:both}

.rel{position: relative;z-index: inherit;zoom: 1;}

.divider{border-bottom:1px dotted #e7e7e7;height:8px;}

.highlight{color:#FFF;background-color:#333;padding:2px;}

.float-left{float:left;}

.float-right{float:right;}

.aligncenter, div.aligncenter{display:block;margin: 0px auto 0px auto;}

.alignright{float:right;margin: 5px 0 20px 20px;}

.alignleft{float:left;margin: 5px 20px 20px 0;}

div.close {float:right; color: #fff; font-size: 12px; text-decoration: none; margin-right:5px;}

.rounded {behavior: url(border-radius.htc);}

input, 
textarea, 
input[type=search] {
	background: #f4f4f4;
	border: solid 1px #a3a3a3;
	padding: 5px 10px;
	font: 15px "Times New Roman", Times, serif;
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none; /* reset webkit search style */
}

input[type=text]:focus, 
textarea:focus,
input[type=search]:focus {
	background: #fff;
	border-color: #333;
	outline: none; /* remove outline */
}

.placeholder {
	color: #bbb;
}

::-webkit-input-placeholder {
	color: #bbb;
}

:-moz-placeholder {
	color: #bbb;
}

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
 
/*********************************************************************/

/*************************** NAVIGATION *********************************/


nav ul {
    list-style:none;
    float: right;
    margin: 20px 0px 0px 0px;
}

nav ul li {
    float:left;
    margin-left: 6px;
}

nav ul li.active {
    background: #75a0b0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color:#ffffff;
}

nav ul li.login {
    background: #68696c;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color:#ffffff;
}

nav ul li.active > a {
    color:#ffffff;
    font-weight: 200;
}

nav ul li:last-child {
    border-right: none;


}

nav ul li a:hover {
    color:#6c6c6c;
}

nav ul li a {
    font-size: 17px;
    letter-spacing: 1px;
    line-height:17px;
    float:left;
    text-decoration: none;
    color: #9d9d9d;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 17px;
    font-size: 17px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#mobile-nav {
    display:none;
    background: url(../images/mobile-nav.png);
    width:38px;
    height: 38px;
    float: right;
    margin: 9px 8px 0px 0px;
    cursor: pointer;
 }


/*******************************************************************/

.site-container {
    width: 1015px;
    margin: 0px auto;
    overflow: hidden;
}

header {
    background: #fff;
    height: 75px;
    border-bottom: 3px solid #434344;
}

#logo {
    margin: 10px 0px 0px 10px;
    float: left;
    width: 157px;
    height: 56px;
    background: url(../images/rooftop-logo.png);
}

#top-half {
    background: #68696c;
    background-image:url(../images/broadcaster.png);
    background-repeat:no-repeat;
    background-position:center;
    height: 375px;
    overflow: hidden;
}

#top-half-content {
    text-align: center;
}

#top-half-content h1 {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62px;
    text-shadow: -2px 1px 0 rgba(0,0,0,.75);
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 1px;
    margin: 45px 0px 0px 0px;
}

#top-half-content h3 {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
    margin: 20px 0px 20px 0px;
}

#sub-top-half {
    background: #68696c;
    background-image:url(../images/broadcaster.png);
    background-repeat:no-repeat;
    background-position:right;
    height: 100px;
    overflow: hidden;    
}

#sub-top-half-content h1 {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    text-shadow: -2px 1px 0 rgba(0,0,0,.75);
    font-weight: 600;
    letter-spacing: 1px;
    margin: 15px 0px 0px 0px;
}

.company-top-half {
    text-align: center;
}

.company-top-half { height: 200px; color: #FFF; }

.company-top-half div {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,0.7);
}

.company-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 76px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 2px #7c7c7c;
    line-height: 84px;
    letter-spacing: 2px;
    font-weight: 600;
    float: left;
    margin-top: 56px;
}


#learn-more {
    width: 608px;
    height: 72px;
    background: url(../images/learn-more-bg.png);
    margin-top: 15px;
}

#learn-more h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 29px;
    font-weight: 700;
    color: #4a72af;
    margin: 15px 0px 0px 20px;
    float: left;
}

.learn-more-btn {
  background: url(../images/learn-more-btn.png) 0px 0px no-repeat;
  width:195px;
  height: 48px;
  float:right;
  cursor: pointer;
  margin: 12px 10px 0px 0px;
}

.learn-more-btn:hover {
  background-position: 0px -49px;
}

#contact-form {
    width: 320px;
    float: left;
    margin: 38px 0px 0px 35px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #42669d;
    padding: 10px 20px 30px 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}

#contact-text {
    margin: 0px auto;
}

#contact-form h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, .75);
    margin: 3px 0px 3px 0px;
}

#contact-form p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #305894;
    margin: 3px 0px 3px 0px;
    text-align: left;
}

form {
    margin-top: 5px;
    float: left;
}

form *:focus {
  border: 1px solid #38598c;
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.half-field {
    width: 140px;
    float: left;
    margin: 10px 10px 10px 13px;
}

.full-field {
    width: 302px;
    float: left;
    margin: 10px 10px 10px 13px;
}

input {
    width: 90%;
    height: 32px;
    padding: 0px 5px 0px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #466da8;
    float:left;
    color: #a4a4a4;
    margin: 10px 10px 10px 13px;
}

textarea {
    width: 100%;
    height: 45px;
    padding: 10px 5px 10px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 2px #85a8dc, inset 0 0 3px 2px rgba(0,0,0,.11);
    -moz-box-shadow: 0 0 0 2px #85a8dc, inset 0 0 3px 2px rgba(0,0,0,.11);
    box-shadow: 0 0 0 2px #85a8dc, inset 0 0 3px 2px rgba(0,0,0,.11);
    border: solid 1px #466da8;
    float:left;
    resize: none;
    color: #a4a4a4;
}

button {
    background-color: #7FBF4D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, #63A62F));
    background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: linear-gradient(top, #7FBF4D, #63A62F);
    border: 1px solid #63A62F;
    border-bottom: 1px solid #5B992B;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96CA6D;
    box-shadow: inset 0 1px 0 0 #96CA6D;
    color: white;
    font: bold 15px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4C9021;
    cursor: pointer;
    width: 300px;
    height: 40px;
    margin: 10px 0px 0px 14px;
    float: left;
}

.top-content {
    width: 1015px;
    overflow: hidden;
    float: left;
    margin-top: 15px; 
}

.top-content .request {
    background: url(../images/request-whitepaper.png) no-repeat left transparent;
    padding-left: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #c2dae5;
    text-shadow: 0 0 2px rgba(0,0,0,.75);
    margin: 0px 0px 3px 40px;
    text-decoration: none;
}

.top-content .phone {
    background: url(../images/phone-icon.png) no-repeat left transparent;
    padding-left: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #c2dae5;
    text-shadow: 0 0 2px rgba(0,0,0,.75);
    margin: 0px 0px 3px 20px;
    text-decoration: none;
}

#top-left-content {
    width: 400px;
    overflow: hidden;
    float: left;
    margin-top: 15px;
    
}

#top-left-content .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.75);
    margin: 3px 0px 3px 0px;
}

#top-left-content  .desc {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1px;
    color: #3f3f40;
    margin: 8px 0px 8px 0px;
}

#top-left-content2 {
    width: 500px;
    overflow: hidden;
    float: left;
    margin: -40px 70px 0px 35px; 
}

#top-left-content2 .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.75);
    margin: 10px 0px 18px 60px;
}

#top-left-content2 .request {
    background: url(../images/request-whitepaper.png) no-repeat left transparent;
    padding-left: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #c2dae5;
    text-shadow: 0 0 2px rgba(0,0,0,.75);
    margin: 0px 0px 3px 40px;
    text-decoration: none;
}

#top-left-content2 .phone {
    background: url(../images/phone-icon.png) no-repeat left transparent;
    padding-left: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #c2dae5;
    text-shadow: 0 0 2px rgba(0,0,0,.75);
    margin: 0px 0px 3px 20px;
    text-decoration: none;
}

#top-right-content {
    width: 400px;
    overflow: hidden;
    float: left;
    margin-top: 15px;
    
}

#top-right-content .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.75);
    margin: 3px 0px 3px 0px;
}

#top-right-content  .desc {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1px;
    color: #3f3f40;
    margin: 8px 0px 8px 0px;
}

#price-badge {
    background: url(../images/per-minute.png);
    width:492px;
    height: 202px;
    margin: 12px 0px 0px 0px;   
}

#mid-strip {
	background: #e5e5e5 url(../images/mid-bg1.png) repeat;
	width: 100%;
	height: 61px;
	line-height: 61px;
	border-top: 1px solid #3f3f40;
	border-bottom: 1px solid #ffffff;
	overflow: hidden;
	margin-top: 0px;
	text-align: center;
}

#mid-strip h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 31px;
    font-weight: 200;
    color: #68696c;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

#mid-strip a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 31px;
    font-weight: 200;
    text-decoration: none;
    color: #81A9B8;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

#home-bottom-half {
    width: 100%;
}

#bottom-half {
    width: 100%;
    min-height: 800px;
    border-top: 1px solid #e5e5e5;
    background: url(../images/main-body-bg.png) repeat;
}

#body-content {
    float:left;
    margin: 20px 0px 0px 0px;
    overflow: hidden;
}

.technology-h3 {
    letter-spacing: 1px;
    text-decoration: none;
    color: #80a0d4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin-top: 15px;
    float: left;
}

.hr {
    overflow: hidden;
    width: 1015px;
    margin: 20px 0px 0px 0px;
    float: left;
}

.body-top-hr {
    background-color: #e6ecf5;
    width: 97%;
    height: 1px;
    border: none;
    margin: 0px 0px 0px 0px;    
}

.body-bottom-hr {
    background-color: #ffffff;
    width: 97%;
    height: 1px;
    border: none;
    margin: 0px 0px 0px 0px;    
}

#technology-checklist {
    margin-left: 30px;
    padding-left: 0;
    list-style: none;
    overflow: hidden;
}

#technology-checklist h4 {
    letter-spacing: 3px;
    font-size: 29px;
    line-height:40px;
    text-decoration: none;
    color: #727b87;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    float: left;
}

#technology-checklist p {
    letter-spacing: 4px;
    font-size: 19px;
    line-height:40px;
    text-decoration: none;
    color: #86abe3;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 2px 0px 0px 15px;
    float: left;
}

ul#technology-checklist li {
    margin: 10px 0px 10px 0px;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px dotted #eee;
    padding: 15px 0px 15px 50px;
}

ul#technology-checklist li:last-child {
    border-bottom: none;
}

.checkmark {
    padding-left: 40px;
    background-image: url(../images/checkmark.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 0;
}


.half {
   float: left;
   width: 47%;
   margin-left: 1%;
    height: 100%;
   
}

.border-left {
    border-left: 1px solid #dee3eb;
    height: 100%;
}
.border-right {
    border-left: 1px solid #ffffff;
    height: 100%;
}

#featued-screenshot {
    float: left;
    background-image: url(../images/top-screenshots.png);
    height: 350px;
    width: 615px;
}

.signup-btn {
    float: left;
    background-image: url(../images/get-started-btn.png);
    width: 321px;    
    height: 73px;
    margin-top: 35px;
    margin-left: 80px;
}

.or-circle {
    float: left;
    background-image: url(../images/or.png);
    width: 88px;    
    height: 88px;
    margin-top: 35px;
    margin-left: 60px;
}

.try-btn {
    float: left;
    background-image: url(../images/try-free-btn.png);
    width: 321px;    
    height: 73px;
    margin-top: 35px;
    margin-left: 60px;
}

.left-content {
    float:left;
    width:500px;
}

.left-content p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1px;
    color: #3f3f40;
    margin: 20px 0px 20px 0px;
}

.left-content img {
    margin: 20px 0px 20px 0px;
}

.right-content {
    float:left;
    width:500px;
}

.right-content img {
    margin: 20px 0px 20px 0px;
}

.compare-go {
    margin-top: 40px;
    float: left;
}

.content-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 20px 0px 10px 0px;    
}

.section-down-arrow {
    float: left;
    background-image: url(../images/section-down-arrow.png);
    width: 87px;    
    height: 45px;
    margin-top: -20px;
    margin-left: 22px;
    z-index: 99999999;
}

#sub-footer {
    background-color: #ffffff;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #6e90c6;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

#sub-footer h3 {
    letter-spacing: 1px;
    font-size: 35px;
	line-height: 100px;
    text-decoration: none;
    color: #9bcc9d;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
	float: left;
	margin-left: 60px;
}

footer {
    width: 100%;
}

.clear {
	float: none;
	clear: both;
}


#features {
    float: left;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.feature {
    width:100%;
    height: 385px;
    overflow: hidden;
    border-bottom: 1px solid #bcbcbc;
}

.feature img {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.odd {
    background-color: #f7f7f7;
}

.feature-text-left {
    float:left;
    width: 470px;
    padding: 20px;
    position: relative;
}

.feature-text-left h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #598fa3;
    margin: 30px 0px 10px 0px;
}

.feature-text-left p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    color: #68696c;
}

.feature-img-right {
    float:right;
    width: 454px;
}

.feature-img-right img {
    float:right;
    margin-top: 30px;
}

.feature-text-right {
    float:right;
    width: 470px;
    padding: 20px;
}

.feature-text-right h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #598fa3;
    margin: 30px 0px 10px 0px;
}

.feature-text-right p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    color: #68696c;
}

.feature-img-left {
    float:left;
    width: 454px;
}

.feature-img-left img {
    float:left;
    margin-top: 30px;
    margin-left: 20px;
}

.get-started-featured {
    border-top: 3px solid #e6e6e6;
    border-bottom: 3px solid #e6e6e6;
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin-top: 30px;
}

.get-started-featured a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
    color: #969696;
}




/* Pricing Table */

#pricing-body-content {
    background-color: #ffffff;
    width: 97%;
    float:left;
    margin: 0px 0px 50px 0px;
    background-color: #ffffff;
    border: 1px solid #b8b8b8;
    float: left;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    overflow: hidden;
    clear: both;
}

#pricing-body-content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #7a7a7a;
    margin: 10px 12px 0px 0px;
}

.body-title {
    width: 100%;
    text-align: center;
}

#pricing-table {
    width: 975px;
    margin: 25px;
    float: left;
}

.pricing-column {
    width: 310px;
    float:left;
    border-right: 1px solid #ffffff;
}

.pricing-column:hover {
    -moz-box-shadow: 0 0 4px #969696;
    -webkit-box-shadow: 0 0 4px #969696;
    box-shadow: 0 0 4px #969696;
}

.package-title {
    background: #68696C;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    padding:5px;
}

.package-price {
    background: #77A1B1;
    overflow: hidden;
}

.favorite-package-price {
    background: #97B7C4;
    overflow: hidden;
}

.favorite-package-price h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(145,92,56,.75);
    float: left;
    margin: 0px 10px 0px 30px;
}

.favorite-package-price h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    color: #a55018;
    float: left;
}

.package-price h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(145,92,56,.75);
    float: left;
    margin: 0px 10px 0px 30px;
}

.package-price h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    color: #a55018;
    float: left;
}

.odd-feature {
    background: #ffffff;
    padding: 6px 0px 6px 0px;
    border-bottom: 1px solid #f0f0f0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.even-feature {
    background: #f2f2f2;
    padding: 6px 0px 6px 0px;
    border-bottom: 1px solid #f0f0f0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.package-btn {
    background: #676767;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    padding: 10px;
    color: #ffffff;
    width: 80%;
    margin: 20px auto;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
}

.package-btn:hover {
    background: #868585;
}

.feature-column {
    width: 310px;
    float:left;
    margin-left: 20px;
}

.feature-title {
    background: #f0f0f0;
    letter-spacing: 1px;
    text-decoration: none;
    color: #6e6e6e;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    padding:10px 5px 10px 5px;
}

.feature-column p {
    padding: 6px 0px 6px 0px;
    border-bottom: 1px solid #f0f0f0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.feature-column p:nth-of-type(odd) {
    color: #e17a36;
}

.pricing-box-wrapper {
    width: 98%;
    margin: 15px 0px 30px 0px;
    overflow: hidden;
    clear: both;
}

.pricing-box {
    width: 305px;
    height: 200px;
    float: left;
    float: left;
    margin-left: 20px;
    text-align: center;
}

.pricing-box h2 {
    color: #75A0B0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px 0px 5px 0px;
}

.login-container {
    width: 425px;
    margin: 50px auto 0;
}

.login-title {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    background-color: #393b3b;
    padding: 15px 0px 15px 0px;
    clear: both;
    overflow: hidden;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    overflow: hidden;
    text-align: center;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
  
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
  
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.login-title h2 {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

#login-form {
    width: 390px;
    margin: 0px auto 0;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #5a5a5a;
    padding: 35px 0px 25px 35px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
  
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
  
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

a.forgot {
    float: left;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #939393;
    text-decoration: none;
    margin-top: 15px;
    cursor: pointer;
}

.login-btn {
    float: right;
    width: 150px;
    height: 41px;
    border: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #75A0B0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    margin-right: 40px;
    cursor: pointer;
}

#contact-info input.full-input, #contact-info input.half-input, #contact-info select {
    padding-left: 10px;
    height: 40px;
    border: 1px solid #a9a9a9;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: 0 0 0 2px #dfdfdf;
    -webkit-box-shadow: 0 0 0 2px #dfdfdf;
    box-shadow: 0 0 0 2px #dfdfdf;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #f1f1f1 0%, #fff 100%);
    background-image: -o-linear-gradient(bottom, #f1f1f1 0%, #fff 100%);
    background-image: -webkit-linear-gradient(bottom, #f1f1f1 0%, #fff 100%);
    background-image: linear-gradient(bottom, #f1f1f1 0%, #fff 100%);
    margin: 0px 23px 26px 0px;
    float: left;
}

.full-input {
    width: 335px;
}

.dark-body {
    background: #68696C;
}

#text-body-content {
    background-color: #ffffff;
    width: 970px;
    float:left;
    margin: 30px 0px 30px 0px;
    background-color: #ffffff;
    border: 1px solid #b8b8b8;
    float: left;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    overflow: hidden;
    clear: both;
    padding: 20px;
}

#text-body-content h1 {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #75A0B0;
    margin: 15px 0px 15px 0px;
}

#text-body-content p {
    font-size: 20px;
    line-height: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #595A5E;
    margin: 15px 0px 15px 0px;
}

#brandon-pic {
    width: 300px;
    margin:0px;
    float: left;
}

#brandon-pic img {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#brandon-text {
    width: 667px;
    float: left;
    background-color: #ffffff;
    border: 1px solid #b8b8b8;
    float: left;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    overflow: hidden;
    padding: 20px;
}

#brandon-text h2{
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #75A0B0;
    margin: 0px 0px 5px 0px;
}

#brandon-text p{
    width: 667px;
    float: left;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #595A5E;
    margin: 15px 0px 15px 0px;
}